In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("joined_dataset.csv", usecols=["summary", "title",
                                                "category"])
df.head()

,summary,title,category
0,Help us set up a new training classroom to tea...,Cents Ability Classroom Set-up,Strengthening Communities
1,Mentor homeless children between the ages of 2...,Mentor Homeless Youth,Education
2,"Are you interested in journalism, research, wr...","Journalism, Copywriting, Creative Writing Oppo...",NaN
3,"In celebration of Father's Day, we invite fath...",Volunteers Needed for Senior Lunch Program!,Helping Neighbors in Need
4,The Police Athletic League of New York City se...,Special Events Assistant,Strengthening Communities

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   summary   1108 non-null   object
 1   title     1108 non-null   object
 2   category  706 non-null    object
dtypes: object(3)
memory usage: 26.5+ KB

In [4]:
df.describe()

,summary,title,category
count,1108,1108,706
unique,1058,1054,10
top,We are New York City’s largest girls-only yout...,Grant Writer,Strengthening Communities
freq,6,9,307

In [5]:
import numpy as np
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.feature_extraction.text import TfidfVectorizer

Creating a TF-IDF vectorizer:

In [6]:
tfidf_vec = TfidfVectorizer(stop_words="english", lowercase=True,
                            ngram_range=(1, 2))

In [ ]:
tfidf_summary = tfidf_vec.fit_transform([df["summary"]])