In [46]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import re
import numpy as np

In [47]:
stopwords = stopwords.words('english')

In [48]:
vectorizer = TfidfVectorizer(stop_words=stopwords)

In [51]:
df = pd.read_csv('joined_dataset.csv')

In [52]:
df

,Unnamed: 0,summary,title,category
0,0,Help us set up a new training classroom to tea...,Cents Ability Classroom Set-up,Strengthening Communities
1,1,Mentor homeless children between the ages of 2...,Mentor Homeless Youth,Education
2,2,"Are you interested in journalism, research, wr...","Journalism, Copywriting, Creative Writing Oppo...",NaN
3,3,"In celebration of Father's Day, we invite fath...",Volunteers Needed for Senior Lunch Program!,Helping Neighbors in Need
4,4,The Police Athletic League of New York City se...,Special Events Assistant,Strengthening Communities
...,...,...,...,...
1120,1120,NaN,NaN,NaN
1121,1121,NaN,NaN,NaN
1122,1122,NaN,NaN,NaN
1123,1123,NaN,NaN,NaN
1124,1124,NaN,NaN,NaN

In [17]:
# df.rename(columns={'sum':'summ'}, inplace=True)

In [53]:
Xy = df[['summary', 'category']].dropna()

In [54]:
X, y = Xy['summary'], Xy['category']

In [55]:
# Remove punctuation
X = X.map(lambda x: re.sub('[,\.!?]', '', x))

# Convert the titles to lowercase
X = X.map(lambda x: x.lower())

X.head()

0    help us set up a new training classroom to tea...
1    mentor homeless children between the ages of 2...
3    in celebration of father's day we invite fathe...
4    the police athletic league of new york city se...
5    helping children 6-12 design a stage for a dec...
Name: summary, dtype: object

In [56]:
X_tfidf = vectorizer.fit_transform(X)

In [57]:
y_tfidf = vectorizer.transform(y)

In [58]:
print(list(vectorizer.vocabulary_.keys())[list(vectorizer.vocabulary_.values()).index(1230)])

finance

In [59]:
vectorizer.vocabulary_.get(1230)

In [60]:
X[0]

'help us set up a new training classroom to teach young adults personal finance'

In [61]:
print(X_tfidf[0])

  (0, 1230)	0.4151976044641033
  (0, 2204)	0.3317212414306079
  (0, 193)	0.2843319675757487
  (0, 3274)	0.3162270560601846
  (0, 2934)	0.2933113960624421
  (0, 622)	0.37066426847279255
  (0, 3025)	0.3162270560601846
  (0, 2015)	0.18437144545593293
  (0, 2676)	0.3117944004668203
  (0, 3104)	0.23841690041699734
  (0, 1463)	0.15891326573806228

In [62]:
print(X_tfidf[0].argmax(axis=1))

[[1230]]

In [63]:
pred = np.array(X_tfidf.argmax(axis=1))

In [64]:
list(vectorizer.vocabulary_.keys())[list(vectorizer.vocabulary_.values()).index(pred[0])]

'finance'

In [66]:
predd_labels = [list(vectorizer.vocabulary_.keys())[list(vectorizer.vocabulary_.values()).index(x)] for x in pred]